
afe_api/WebFEO_API/FEOAPP/FEOAPP.Android/bin/Debug/com.companyname.feoapp-Signed.apk
afe_api/WebFEO_API/FEOAPP/FEOAPP.Android/bin/Debug/com.companyname.feoapp.apk
afe_api/WebFEO_API/FEOAPP/FEOAPP.Android/bin/Debug/FEOAPP.Android.dll
afe_api/WebFEO_API/FEOAPP/FEOAPP.Android/bin/Debug/FEOAPP.Android.pdb
afe_api/WebFEO_API/FEOAPP/FEOAPP.Android/bin/Debug/FEOAPP.dll
afe_api/WebFEO_API/FEOAPP/FEOAPP.Android/bin/Debug/FEOAPP.pdb
afe_api/WebFEO_API/FEOAPP/FEOAPP.Android/FEOAPP.Android.csproj
afe_api/WebFEO_API/FEOAPP/FEOAPP.Android/FEOAPP.Android.csproj.user
afe_api/WebFEO_API/FEOAPP/FEOAPP.Android/MainActivity.cs
afe_api/WebFEO_API/FEOAPP/FEOAPP.Android/bin/Debug/com.companyname.feoapp-Signed.apk
afe_api/WebFEO_API/FEOAPP/FEOAPP.Android/bin/Debug/com.companyname.feoapp.apk
*.apk
